<header>
  <h1>Sign In</h1>
</header>

<%= form_tag(session_path) do %>
<fieldset>
  <ol>
    <li>
      <%= label_tag :email %>
      <%= email_field_tag :email, nil %>
    </li>
    <li>
      <%= label_tag :password %>
      <%= password_field_tag :password, nil %>
    </li>
    <li>
      <p>
        <%= submit_tag 'Sign In' %>
      </p>
      <p>
        No account yet? <%= link_to 'Sign up!', signup_path %>
      </p>
    </li>
  </ol>
</fieldset>
<% end %>
